
.page{
    width: 29cm;
    padding: 2px;
    background-color: white;
    border-right: solid black .5px;
}
.item{
    width: 100%;
    display: flex;
    margin-top: 0.3cm;
}
.item .label{
    width: 40%;
}
.item .value{
    font-weight: bold;
}


