
.element{
    display: flex;
    height: 70px;
}
.element .font{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgba(6, 5, 5, 0.621);
}
.element .value{
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 15px;
    justify-content: space-around;
    width: 80%;
}
.val{
   
    color: orangered;
    font-size: 30px;
    font-weight: bold;
}
.text{
    width: 60%;
}

@media screen and (max-width:1200px) {
    .element .font{
        display: none;
    }
}

@media screen and (max-width:700px) {
    .element .font{
        display: flex;
    }
}


.dashbord{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dash-item{
    width: 25%;
}
.dash-element{
    display: flex;
    padding: 10px;
    margin: auto;
    width: 95%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    box-shadow: 0px 0px 6px rgba(81, 81, 81, 0.568);
    border-radius: 3px;
    height: 80px;
    align-items: center;
}
.dash-element .dash-icon{
    width: 28%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 100%;
    background-color: white;
    color: black;
   
}
.dash-element .dash-icon i{
  opacity: 1;
  
}
.dash-element .dash-text{
    margin-left: 5px;
    width: 60%;
    color: white;
    font-size: 15px;
}
.dash-element .values{
  float: right;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
@media all and (max-width:1200px){
    .dash-item{
        width: 33.33%;
    }
    .dash-element .values{
        font-size: 20px;
      }
}
@media all and (max-width:800px){
    .dash-item{
        width: 50%;
    }

    .dash-element .values{
        font-size: 20px;
      }
}

@media all and (max-width:576px){
    .dash-item{
        width: 100%;
    }
    .dash-element .values{
        font-size: 40px;
      }
}
.bg-violet{
    background-color: blueviolet;
    color: white;

}
.bg-magenta{
    background-color: magenta;
    color: white;
}

.dash-item{
    animation: rotate 1.5s;
}

@keyframes rotate {
    from{
        transform: rotateX(700deg) translateY(-300px);

    }
    to{
        transform: rotateX(initial) translateY(initial);
    }
}


.grappers_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.grappers{
    border-radius: 12px;
    padding: 3px;
    background-color: white;
    position: relative;
    width: 30%;
    box-shadow: 0 0 15px rgba(114, 112, 112, 0.884);
    margin-top: 50px;
}
.grappers .logo{
    width: 70px;
    height: 70px;
    background-color: rgb(78, 78, 230);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    /* transform: translateX(10px) translateY(-35px); */
    position: absolute;
    top: -35px;
    left:25px;
    
}

.grappers .header{
    margin-top: 35px;
    text-align: right;
    padding: 0 12px;
}
.grappers .header .val{
    font-size: 30px;
    font-weight: bold;
    color: inherit;
}
.grappers .footer{
    border-top: solid 1px rgb(132, 127, 127);
    padding: 8px 30px;
    font-weight: bold;
    text-align: right;
    display: flex;
    align-items: center;
    height: auto;
}

.grappers .footer a{
    color: black; 
}
.grappers .footer .a:hover{
    transition: .3s;
    animation: identifier 1s;
    color:rgb(255, 0, 0); 
}
@keyframes identifier {
    from{
        margin-left: initial;
    }
    to{
        margin-left: 50px;
    }
}

@media all and (max-width:1200px){
    .grappers, .scafold-item{
        width: 48%;
    }   
}
@media all and (max-width:800px){
    .grappers,  .scafold-item{
        width: 100%;
    }   
}



.scalfolds_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.scalfolds_list .scafold-item{
    width: 30%;
    position: relative;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(114, 112, 112, 0.721);
}
.scalfolds_list .scafold-item .header{
    height: 50px;
    border-bottom: solid black 0.1px;
}

.scalfolds_list .scafold-item .logo{
    position: absolute;
    left: 30px;
    top: 10px;
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.scalfolds_list .scafold-item .content{
   margin-top: 30px;
   padding: 20px;
}   

@media all and (max-width:1200px){
    .scalfolds_list .scafold-item{
        width: 48%;
    }   
}
@media all and (max-width:800px){
    .scalfolds_list .scafold-item{
        width: 100%;
    }   
}



.ribben {
    position: absolute;
    top: 30%;
    left: -7%;
    padding: 0.5em;
    background: #F19E1F;
    width: 35%;
}
.ribben1 {
    position: absolute;
    top: 15%;
    left: -8%;
    padding: 0.5em;
    background: #AF1D0D;
    width: 32%;
}
.ribben p{
	font-size:1em;
	color:#fff;
}
.ribben1 p{
	font-size:1em;
	color:#fff;
}
.ribben:after {
    content: '';
    position: absolute;
    top: 85%;
    right: 85%;
    width: 3px;
    height: 0;
    border-top: 24px solid #BF8020;
    border-right: 14px solid transparent;
    border-left: 3px solid transparent;
    transform: rotate(95deg);
}
