{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block title %}  
    MINHDU | Appartements
{% endblock title %}
{% block styles %}

{% endblock styles %}
{% block content %}
    <h3 class="m-4">  MINHDU | Immeubles </h3>
    <hr>


    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <div class="card p-4">
                    <div class="card-header">
                        <h6><i class="fas fa-home    "></i> Modifier l'immeuble {{imm.Lettre}}</h6>
                    </div>
                    <div class="card-body">
                      <form method="post" novalidate>
                        {% csrf_token %}  
                        {% for item in formIm %}
                            <div class="mb-4 mt-2">
                                {{item |as_crispy_field}}
                            </div>
                        {% endfor %}
                        <div class="row">
                            <button type="submit" class="btn btn-primary col-6"> Enregistrer </button>
                        <a href="{% url 'Immeuble' %}" class="col-5 btn btn-warning mx-3"> <i class="fas fa-stream"></i> Liste</a>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}{% endblock scripts %}
