{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block title %}  
    MINHDU | Appartements
{% endblock title %}
{% block styles %}

{% endblock styles %}
{% block content %}
    <h3 class="m-4">  MINHDU | Appartements </h3>
    <hr>

    {% if Del %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ deletx }}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-5">
                <div class="card p-4">
                    <div class="card-header">
                        <h6><i class="fas fa-home    "></i> Ajouter un logement social</h6>
                    </div>
                    <div class="card-body">
                      <form method="post" novalidate>
                        {% csrf_token %}  
                        {% for item in formbloc %}
                            <div class="mb-4 mt-2">
                                {{item |as_crispy_field}}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary mt-3"> Enregistrer </button>
                      </form>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-xm-12">

                <div class="card">
                     <div class="card-body">
                       <div class="table-responsive">
                         <table id="studenttable" class="table table-bordered table-hover" data-page-length='100'>
                           <thead class="thead-light">
                             <tr>
                                 <th>#</th>
                                 <th>Ville</th>
                                 <th>Quartier</th>
                                 <th width="20px">Traitement</th>
                             </tr>
                           </thead>
                           <tbody>
                     
                             {% for item in Allloc %}
                                 <tr data-href="{% url 'Logements_details' item.id %}">
                                    <td>{{forloop.counter}}</td>
                                     <td>{{item.Ville}}</td>
                                     <td>{{item.Quartier}}</td>
                                    
                                     
                                     <td>
                                         <a href="{% url 'EditLogement' item.id %}" class=""> <i class="fas fa-pencil text-dark mr-2"></i> </a>
                                         <span type="" class="" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="deleteItem( '{% url "DeleteLogement" item.id %}', {{item.Num_logement}} )">
                                             <i class="fas fa-trash"></i>
                                         </span>
                                     </td>
                                 </tr>
                                 
                             {% endfor %}
                     
                           </tbody>
                         </table>
                       
                       </div>
                     </div>
                </div>
                
             </div>

        </div>
    </div>

    {% comment %} Delete modal  {% endcomment %}
    <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                   <strong>
                    voullez-vous vraiment supprimer le logement  <span id="conf"></span> ?
                   </strong>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
              <a type="button" href="" id="confdel" class="btn btn-danger" > <i class="fa fa-trash" aria-hidden="true"></i> </a>
            </div>
          </div>
        </div>
    </div>
      
{% endblock content %}

{% block scripts %}
      
<script>
    $('#studenttable').DataTable({
    });
</script>
<script>
  var confdel = document.getElementById('confdel');
  var conf = document.getElementById('conf');
  function deleteItem(id, name){
      confdel.href = id;
      conf.innerHTML = name;
  }
</script>


<script>
  document.addEventListener("DOMContentLoaded", ()=>{
      const rows = document.querySelectorAll('tr[data-href]');
      rows.forEach(row =>{
          row.addEventListener('click',()=>{
              window.location.href = row.dataset.href; 
          });
      });
  });
</script>


{% endblock scripts %}
