{% extends 'base2.html' %}

{% load static %}
{% block title %}  
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/opt.css' %}" />

<style>
    .dem{
        display: flex;
    }

    .form-2{
        background-color: rgba(251, 172, 172, 0);
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(0, 0, 0);
        width: 80%;
    }

</style>

{% endblock styles %}
{% block content %}

    <h3 class="m-4 text-center">DEMANDES</h3>
    <hr>

    <div class="d-flex justify-content-end">
        <a href="{% url 'demandeur_add' %}" class="btn btn-primary my-3"><i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter une demande </a>    
    </div>
    <div class="card">
        <div class="card-header bg-primary">
            Liste des demandes
        </div>
        <div class="card-body">
            <table id="studenttable" class="table-responsive table table-bordered table-hover" data-page-length='10'>
                <thead class="thead-light">
                  <tr>
                      <th width="5%">#</th>
                      <th width="10%">Type de paiement </th>
                      <th>Demandeur</th>
                      <th>Numéro de télephone</th>
                      <th width="10%">Pièces jointes</th>
                      <th width="10%">Infos</th>
                      <th> Accord CFC </th>
                      <th width="5%">Opérations</th>
                  </tr>
                </thead>
                <tbody>
          
                  {% for item in allDemandeur %}
                          <div class="div">
                              <tr class="hoverview" data-href="{% url 'ViewDemandeur' item.slug %}">
                                      <td>{{ forloop.counter }}</td>
                                      
                                      <td>  {{item.Type_paiement}}  </td>
                                      <td>{{ item }}</td>
                                      <td> {% if item.Tel %} {{item.Tel}} {% endif %} </td>
                                      <td> {{item.getPieceNumber}} / {{item.getTotalPieces}}  </td>
                                      <td> {{item.getState}} </td>
                                      <td>
                                        {% if item.Type_paiement == 'CASH' %}
                                          /
                                        {% else %}
                                                {% if item.info_cfc == 'NT' %}
                                                    Non traitée
                                                {% elif item.info_cfc == 'F' %}
                                                    <span class="badge badge-success h2">Favorable
                                                        <div class="text-primary"></div> 
                                                        
                                                    </span>
                                                {% else %}
                                                    <span class="badge badge-danger h2">Non favorable</span>                                        
                                                {% endif %}
                                        {% endif %}
                                        
                                      </td>
                                      <td>
                                          <a href="{% url 'updateDemandeur' item.slug %}" class=" mx-1"> <i class="fa fa-pencil text-dark" aria-hidden="true"></i> </a>
                                          <a href="{% url 'confirmer_suppression' item.slug %}" class=" "> <i class="fa fa-trash text-dark" aria-hidden="true"></i> </a>
                                      </td>
                                  </a>
                              </tr>
                          </div>
                      {% endfor %}
          
                </tbody>
              </table>
        </div>
        
    </div>


    <!-- Button trigger modal -->

  <!-- Modal -->
  



    <script>
        document.addEventListener("DOMContentLoaded", ()=>{
            const rows = document.querySelectorAll('tr[data-href]');
            rows.forEach(row =>{
                row.addEventListener('click',()=>{
                    window.location.href = row.dataset.href; 
                });
            });
        });
    </script>

{% endblock content %}

{% block scripts %}


    <script>
        $('#studenttable').DataTable({
        });
    </script>
<script src="{% static 'js/triagetableau.js' %}"></script>



{% endblock scripts %}